/* Start Global */
*{
    padding:0;
    margin:0;
}
/* End Global */
/* Start Header */
.container{
    width:100%;
    height:1000px;
    overflow: hidden;
}
header{
    width:500px;
    margin:10px auto;
    text-align: center;
}
.line{
    width:51px;
    border-bottom:1px solid #F00;
    margin: 12px auto;
}
/* End Header */
/* Start Main */
main{
    width:1140px;
    height:847px;
    margin: auto;
}
main section{
    width:270px;
    height:415px;
    border: 1px solid #DDD;
    float: left;
    margin:10px 0 0 10px;
    border-radius: 10px;
    overflow: hidden;
    
    
}
main section .image{
    width:100%;
    height:73%;
    background-color: darkturquoise;
    overflow: hidden;
    position: relative;
}
main section .content{
    width:100%;
    height:27%;
    text-align: center;
    /* overflow: hidden; */
    position: relative;
}
main section .image img{
    border: none;
}
a{
    text-decoration:none;
    color:black;
    margin-top:17px;
    display: block;
    font-weight: bold;

}
p{
    margin-top:11px;
    color:red;
    font-weight: bold;
}
i{
    color:#F6BC3E;
    font-size: 13px;
    margin:13px 0 0 -4px;
}
.spans{
    color:#687188;
    font-weight: 100;
    text-decoration: line-through;
}
span{
    color:#687188;
    font-weight: 100;
}

/* End Main */
.cover{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    transition: .5s all;
    
}
section:hover .cover{
    width:100%;
    height:100%;
    background-color: black;
    opacity: .2;
    position:absolute;
    top:0;
    left:0;
    
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    width:40px;
    height:40px;
    border:none;
    text-align: center;
    border-radius: 50%;
    background-color: #EFEFEF;
    padding: 9px;
    margin-bottom: 5px;

    
}
.icooon{
    font-size:15px;
    color:black;
}
.icon{
    width:82%;
    height:30px;
    position: absolute;
    bottom:120px;
    left:50px;
    transition: 1s bottom;
    visibility:hidden;
     

    

}
section:hover .icon{
    visibility: visible;
    bottom:136px;

}
button{
    padding: 17px 61px;
    border-radius: 30%;
    background-color: #f00;
    color:#FFF;
    font-weight: bold;
    border:none;
    position: absolute;
    bottom: -35px;
    left:38px;
    transition: 1s bottom; 

    
}
section:hover button{
    bottom: 38px;
    left:38px;
}
